.mySwiper {
  /* position: relative; */
  user-select: none;
  height: 36rem;
  /* background-color: white; */
  /* overflow-y: auto; */

  /* margin-bottom: 5rem; */
  /* clip-path: polygon(50% 20%, 100% 0, 100% 100%, 50% 80%, 0 100%, 0 0); */
}

.mySwiper::after {
  content: '';
  width: 110%;
  height: 10rem;
  /* background: #ae9ba1; */
  background: #510c23;
  position: absolute;
  border-radius: 100%;

  top: -6rem;
  transform: translateX(-50%);
  left: 50%;
  z-index: 10;
}
.mySwiper::before {
  content: '';
  width: 110%;
  height: 10rem;
  /* background: #ae9ba1; */
  background: #510c23;
  position: absolute;
  border-radius: 100%;

  bottom: -1rem;
  transform: translateX(-50%);
  left: 50%;
  z-index: 10;
}
.swiper-container {
  padding-bottom: 31rem;
  background-color: yellow;
}

.swiper-pagination {
    position: absolute;
  bottom: 0rem !important;
/* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  height: 6rem;
  z-index: 30;
}

.swiper-pagination-bullet {
  background: #cd9fae;
  width: 20px;
  height: 20px;
  margin: 0 8px;
  border-radius: 100%;
  opacity: 0.3;
  border: 1px solid #84143a;
}

.swiper-pagination-bullet-active {
  width: 26px;
  height: 26px;
  background: #84143a;
  border: 5.5px solid #cd9fae;
  border-radius: 100%;
}
